.header {
  width: 100%;
  padding: 22px 0;
  background-color: #D3DCE7;
  border-radius: 16px;
  margin-top: 29px;

  &__title {
    font-family: 'SpaceGrotesk-Bold';
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding-left: 50px;
  }
}